@tailwind base;
@tailwind components;
@tailwind utilities;

.green-text {
    color: #037a68;
}
.red-text {
    color: #ce0000;
}

.grey-text {
    color: #3d3d3d;
}
input {
    background-color: transparent;
}

.form-input {
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 12px;
    margin-top: 4px;
}

form > label {
    font-weight: 600;
}

body {
    transition-property: opacity, transform, filter, background;
    transition-timing-function: ease-in-out;
    transition-duration: 500ms;
}

.page-transition {
    opacity: 0;
    background: #037a68;
    transform: translateY(40px);
    transform: scale(0.9);
    filter: blur(12px);
}

.popup-content {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    width: 400px;
}

.search-bar {
    display: none;
}

.animate-in {
    animation: fadeIn 0.5s ease-in-out;
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
